.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: scale(0.97);
}

.default {
  border: 1px solid;
  background-color: white;
}

.solid {
  color: white;
}

.primary {
  background-color: #1677ff;
  color: white;
}

.dash {
  background-color: white;
  border: 1px dashed;
}

.text {
  background-color: white;
  border: none;
}

.link {
  background-color: white;
  border: none;
  color: #1677ff;
}
